*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: black;
}

nav {
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav div img{
    width: 80px;
    height: 80px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(white);
}

nav ul li a:hover {
    color: rgb(175, 0, 0);
    border-bottom: 1px solid rgb(121, 0, 0);
}

.content {
    text-align: center;
    margin-top: 30px;
}

.content img {
    width: 250px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px auto;
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(255, 0, 0);
    font-size: xx-large;
}

.content p {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
}

.content blockquote {
    color: rgb(255, 217, 0);
    margin-top: 25px;
    margin-bottom: 10px;
}

.main-container {
    background-color: rgb(37, 37, 37);
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    text-align: center;
}

.info-box h2 {
    background-color: rgb(90, 90, 90);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-bottom: 20px;
}